@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(55, 44, 206);
}
button{
  padding: 1%;
  width: 20%;
	border-color: #fff;
  border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	background-color: rgb(55, 44, 206);
	color: #fff;
  cursor: pointer;
}
button:hover{
  border-color: rgb(182, 175, 175);
  border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	background-color: rgb(80, 69, 236);
	color: #fff;
}
span{
  font-size: 26px;
	color: #fff;
}
